---

- name: Install MySql
  sudo: yes
  apt: pkg={{item}} state=latest update_cache=true
  with_items:
    - python-mysqldb
    - mysql-server-5.5
    #- php5-mysql
  notify:
    - Reload MySql

- name: update mysql root password for all root accounts
  sudo: yes
  mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
    login_user: root
    login_password: "{{ mysql_root_password }}"
    check_implicit_admin: yes
    priv: "*.*:ALL,GRANT"
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost

- mysql_db:
    name: bobdata
    state: present
    login_password: "{{ mysql_root_password }}"
    login_user: root