---

- name: Add php5.6 Repository
  apt_repository: repo='ppa:ondrej/php5-5.6' state=present
  sudo: yes
  register: php56repoAdded

- name: Install PHP 5.6
  sudo: yes
  apt: pkg={{item}} state=latest update_cache=true
  with_items:
     - python-software-properties
     - php5
     - php5-cli
     - php5-curl
     - php5-gd
     - php5-mcrypt
  when: php56repoAdded|success
  register: phpInstalled